.card {
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card25 {
  width: calc(25% - 25px);
  margin-left: 25px;
  margin-bottom: 25px;
}
